 table {
           width: 100%;
           border-collapse: collapse;
           min-width: 400px; /* Minimum width before scrolling */
           direction:ltr;
       }

       th, td {
           border: 1px solid black;
           padding: 10px;
           text-align: center;
           margin: 0 auto; /* Added margin auto */
           font-weight:bold;
        direction:ltr;
       }

       th {
           background-color: #f5f5f5;
           font-weight: bold;
           background-color:tan;
                  }

       tr:nth-child(odd) {
           background-color: yellow;
       }
        tr:nth-child(even) {
           background-color: yellow;
       }
td:nth-child(even) {
           background-color: yellow;
           color:red;
       }
       @media screen and (max-width: 600px) {
           th, td {
               padding: 8px;
               font-size: 14px;
           }
       }
